.red{
    width: 300px;
    height: 200px;
    background-color: red;
}
.black{
    position: absolute;
    width: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    top: 52px;
    left: 80px;
}